@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Geist", "ui-sans-serif", "system-ui";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
}